---
interface Props {
  href: string;
  section: string;
  className: string;
}

const { href, section, className } = Astro.props;
---

<a 
  href={href} 
  class={className} 
  data-section={section}
>
  <slot />
</a>