---
interface Props {
  href: string;
  section: string;
  className: string;
}

const { href, section, className } = Astro.props;
---

<a
  href={href}
  class={`nav-link ${className}`}
  data-section={section}
>
  <slot />
</a>