---
import ExperienceCard from './experience/ExperienceCard.astro';
import { experienceData } from './experience/experienceData';
---

<!-- Experience Section -->
<section id="experience" class="container mx-auto px-6 sm:px-4 py-10">
    <h2 class="text-3xl font-bold text-primary mb-6 border-b border-gray-300 pb-2 max-w-3xl mx-auto">Professional Experience</h2>

    <div class="max-w-3xl mx-auto space-y-10">
        {experienceData.map((experience) => (
            <ExperienceCard experience={experience} />
        ))}
    </div>
</section>


