---
import ExperienceCard from './experience/ExperienceCard.astro';
import { experienceData } from './experience/experienceData';
import ContentContainer from '../layout/ContentContainer.astro';
import ContentWidth from '../layout/ContentWidth.astro';
---

<!-- Experience Section -->
<ContentContainer as="section" className="py-10" width="standard">
    <ContentWidth>
        <h2 class="text-3xl font-bold text-primary mb-6 border-b divider pb-2">Professional Experience</h2>
    </ContentWidth>

    <ContentWidth className="space-y-10">
        {experienceData.map((experience) => (
            <ExperienceCard experience={experience} />
        ))}
    </ContentWidth>
</ContentContainer>


