---
import ExperienceCard from './experience/ExperienceCard.astro';
import { experienceData } from './experience/experienceData';
---

<!-- Experience Section -->
<section id="experience" class="content-container py-10">
    <h2 class="text-3xl font-bold text-primary mb-6 border-b divider pb-2 content-width">Professional Experience</h2>

    <div class="content-width space-y-10">
        {experienceData.map((experience) => (
            <ExperienceCard experience={experience} />
        ))}
    </div>
</section>


